<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tidc.exam.mapper.HistoryExaminationMapper">
    <resultMap id="historyExaminationAndQuestion" type="com.tidc.api.pojo.exam.HistoryExamination">
        <id column="id" property="id"  />
        <result column="contest_id" property="contest_id" />
        <result column="name" property="name" />
        <result column="brief" property="brief" />
        <result column="time" property="time" />
        <result column="school_id" property="school_id" />
        <collection  property="historyQuestionList" ofType="com.tidc.api.pojo.exam.HistoryQuestion" javaType="java.util.List" >
            <id column="qid" property="id" />
            <result column="title" property="title" />
            <result column="genre" property="genre" />
            <result column="answer" property="answer" />
            <result column="option" property="option" />
            <result column="analysis" property="analysis" />
            <result column="score" property="score" />
        </collection>
    </resultMap>
    <select id="getHistoryExaminationAndQuestion" parameterType="int" resultMap="historyExaminationAndQuestion">
        select he.*,hq.id as qid,hq.title,hq.genre,hq.answer,hq.option,hq.analysis,hq.score from history_examination he left join history_examination_question heq on he.id = heq.history_examination_id left join history_question hq on heq.history_question_id = hq.id where he.id = #{id};
    </select>
</mapper>