<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tidc.consumer8001.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.tidc.api.pojo.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.tidc.api.pojo.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>


    </resultMap>
    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnamezh from menu m left join role_menu mr on m.`id`=mr.`mid` left join role r on mr.`rid`=r.`id`order by m.`id` desc
    </select>
</mapper>